# dependencies
/configs
/node_modules

# testing
**/coverage

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env
.env.*
!.env.sample
/prisma/generated/prisma

# databse files
*.db
*.sqlite
